// peronalize
$light-color:                   #faf6fc;
$primary-color:                 #8C4F71;
$secondary-color:               #79213a;
$accent-color:                  #55a9b3;
$accent-color2:                 #99dae1;
$detail-color:                  #4f4f4f;
$detail-color2:                 rgb(43, 43, 43);

$warning:                      rgb(248, 109, 109); 
$success:                      rgb(136, 247, 136);

$white:                         white;
$black:                         black;
$light-gray:                    rgb(209, 209, 209);